# Outils et écosystème de la science des données

## Dans ce notebook, les outils et l'écosystème de la science des données sont résumés.
### Objectifs :
- Créer un Jupyter Notebook
- Insérer des cellules de code et des cellules markdown
- Partager votre notebook via GitHub

## Certains des langages populaires que les scientifiques des données utilisent sont :
1. Python
3. Spark
2. R

## Certaines des bibliothèques couramment utilisées par les scientifiques des données incluent :
1. Plotly
2. Numpy
3. scikit

| Outils de la science des données |
|----------------------------------|
| Anaconda Navigator |
| Rstudio |
| JupiterLab |

### Voici quelques exemples d'évaluation d'expressions arithmétiques en Python

In [4]:
# Ceci est une simple expression arithmétique pour multiplier puis additionner des entiers
(3*4)+5

17

In [5]:
# Cela convertira 200 minutes en heures en divisant par 60
200/60

3.3333333333333335

## Auteur 
SOW Mamadou Aliou